Code.PNG
Report.docx
directory.PNG
DesignShell/DesignShellReport.docx
DesignShell/Output.PNG
DesignShell/template.zip

TeamBudgetPlanner/Report.docx

SimplyBlogging/SimplyBloggingReport.docx

CartManagement/CartManagementReport.docx

AmazingPortfolio/AmazingPortingReport.docx

OnlineTestApplication/OnlineTestReport.docx

LogRecorderApplication/LogRecorderReport.docx

NodeTaskTracker/NodeTaskTrackerReport.docx

SocketIOChatting/SocketIOChattingReport.docx

ChatLog/ChatLogReport.docx

CallRecordAnalysis/CallRecordAnalsisReport.docx

WebsiteWithMongoDB/WebsiteWithMongoDBReport.docx