<div class="center">
    <form [formGroup]="loginRef">
        <input
        type="text"
        id="username"
        placeholder="Username"
        formControlName = "user"
        />
        <br/>
        <input
        type="password"
        id="pass"
        placeholder="Password"
        formControlName = "pass"
        />
        <br/>
        <input class="options" type="button" value="Login" (click)= "portfolioPage()"><br/>
        <input class="options" type="button" value="SignUp" (click)="registerationPage()">
    </form>
    <br/>
    <h3 class="description error">{{msg}}</h3>
</div>
